body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  background: url("https://source.unsplash.com/random") center;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.list {
  background: white;
  width: 200px;
  min-height: 50px;
  border: none;
  border-radius: 10px;
}